<!DOCTYPE html>
<html lang="ru">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/navbar'); %>
        <div>
                <blockquote class="blockquote">
                <p class="mb-0" for="file">Количество: </p>
                <footer class="blockquote-footer"><%= resoult %></footer>
                </blockquote>
                    
                <blockquote class="blockquote">
                    <a class="mb-0" href="/download-duplicates">Скачать файл</a>
                </blockquote>
            </div>
        </div>
</body>

</html>