<!DOCTYPE html>
<html lang="ru">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <%- include('./partials/navbar'); %>
    <div class="container">
        <h1>Select an action</h1>
    </div>
</body>

</html>